.hero{
    background-color: lightslategray;
    text-align: center;
    height: 200px;
    margin-top: 5px;
    padding-top: 70px;
}

.navig{
    background-color: black;
}

/*
.kare{
    background-color: aqua;
    width: 60%;
    height: 40%;
} 
*/

.ow{
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 20px;
}

.footer{
    background-color: grey; 
    color:black; 
    position: fixed; 
    left: 0px; 
    bottom: 0; 
    width: 100%; 
    text-align: center;
}